DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://admin.linfini.gp"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
WEBHOOK_URL=""
RESEND_API_KEY=""
FROM_EMAIL="commandes@linfini.gp"
REPLICATE_API_TOKEN=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
TVA_RATE=0.085
